<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Itransition2020</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="!isUserLoggedIn()">
      <a mat-button [routerLink]="'/registeruser'"> Sign Up </a>
      <a mat-button [routerLink]="'/login'"> Sign In </a>
    </div>
    <div *ngIf="isUserLoggedIn()">
      <a mat-button [routerLink]="'/login'"> Sign Out </a>
      <a mat-button [routerLink]="'/user'"> All Users </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">Leave your feedback on the company's employees</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/accounts'"> Test 1 </a>
      <a mat-list-item [routerLink]="'/create-account'"> Test 2 </a>
      <a mat-list-item [routerLink]="'/contacts'"> Test 3 </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Test 4 </a>
      <a mat-list-item [routerLink]="'/activities'"> Test 5 </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Test 6 </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



